{% extends 'base.html' %}


{% block title %} Hobby
{% endblock  %}

{% block  body %} 




<style>

p {text-align: center;}
</style>


<div class="container-fluid my-1">

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://source.unsplash.com/1100x400/?nature" class="d-block w-100" alt="...">
      <p style="color:Black;"></p>

 

 <div class="container my-4">
 <h1 class="my-2 text-center">To explore new places</h1>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/6.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"> <b>SAGARMATHA</B> <br> Reaching 29,029 ft (8848 meters) above sea level, Mount Everest is the highest mountain
               on Earth.The peak of Everest is so high that it reaches the lower limit of the jet stream, and it can be buffeted by sustained winds of 
               more than 100 miles (160 km) per hour.
                </p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/13.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><b>MAYA DEVI TEMPLE</B> <br>The Maya Devi Temple,decided to Buddha's mother, is belived to be the spot
               where Buddha was born.
              Situated off the main tourist track, almost 250 kilometers from Kathmandu, Lumbini is a worthwhile detour on
              the route from Pokhara to the Chitwan National Park. </p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/8.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><b>MARDI HIMAL TREK</B> <br>Mardi Himal base camp trek is an exotic and interesting trek in Nepal.
               This is a very popular trekking trail in the western Annapurna region of Nepal and is located east of Modi Khola across
                the valley from Hiunchuli. </p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/9.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><b>MUKTINATH</B> <br>Muktinath is a Vishnu temple, sacred to both Hindus and Buddhists. 
              It is located in Muktinath Valley at the foot of the Thorong La mountain pass in Mustang, Nepal.
              It is one of the world's highest temples (altitude 3,800 m). </p>
              <div class="d-flex justify-content-between align-items-center">
               
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/10.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><b>BASANTAPUR</B> <br>Kathmandu Durbar Square (Basantapur Durbar Khsetra)
               in front of the old royal palace of the former Kathmandu Kingdom is one of three Durbar (royal palace) Squares in the 
               Kathmandu Valley in Nepal, all of which are UNESCO World Heritage Sites.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/11.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><b>POKHARA</B> <br>Pokhara is the second most visited city in Nepal, as well as one of the most 
              popular tourist destinations. It is famous for its tranquil atmosphere and the beautiful surrounding countryside. Pokhara
               lies on the shores of the Phewa Lake.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/12.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><b>CHITWAN</B> <br>Pokhara is the second most visited city in Nepal, as well as one of the most popular tourist
               destinations. It is famous for its tranquil atmosphere and the beautiful surrounding countryside. Pokhara lies on the shores of the 
               Phewa Lake.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/7.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><b>GOSAIKUNDA</B> <br>Gosaikunda (गोसाइँकुण्ड), also spelled Gosainkunda and Gosain Kunda is an alpine freshwater 
              oligotrophic lake in Nepal's Langtang National Park, located at an elevation of 4,380 m (14,370 ft) in the Rasuwa District with a surface 
              of 13.8 ha (34 acres)</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/14.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><b>PASHUPATINATH</B> <br>This temple is famous and sacred Hindu temple complex that is located on the banks of the Bagmati River.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


 
{% endblock %}

{% block footer%} {% endblock %}

