{% extends 'base.html' %}


{% block title %} HOME
{% endblock title %}

{% block  body %} 
<div class="container-fluid px-0 " style="background-image: url('https://source.unsplash.com/1500x600/?codding');">
  <h1 style="color:Tomato;">WELCOME</h1>



  <div class="container-fluid my-4">
    <div class="card" style="width: 22rem;">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <img src="/static/2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">Personal Info</h5>
    <h6 class="card-subtitle mb-2 text-muted">Sujan Shrestha</h6>
    <p class="card-text">For more pls contact +977 9849201112</p>
    <a href="https://www.facebook.com/sujan.shrestha.146" class="facebook"></a>
    <a href="https://www.facebook.com/sujan.shrestha.146" class="card-link"></a>
    </div>
  </div>
</div>



 {% endblock %}



